@import './src/theme/variables.css';

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
    padding: 44px var(--Round-4, 12px) var(--Round-4, 12px) var(--Round-4, 12px);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: flex;
    background-color: white;
    color: var(--ion-primary);
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    margin: -6px;
    font-family: 'Rubik';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.toolbar {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 0;
    padding: 0;
    align-self: stretch;
}

.select {
    --background: var(--white);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #1E1E1E;
    --padding-start: 0;
    --padding-end: 0;
}

.action-sheet {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    height: 100%;
    line-height: normal;
    padding: 4px;
}

.action-sheet-options {
    margin: auto;
}

.new-environment {
    color: white !important;
    border-radius: var(--Round-4, 12px) !important;
    background: var(--brown, #5F493F) !important;
    margin-bottom: 42px;
}

.action-sheet-button.sc-ion-action-sheet-md {
    display: block;
    position: relative;
    width: 90%;
    border: 0;
    outline: none;
    background: var(--button-background);
    color: var(--gray, #1E1E1E);
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
}

.action-sheet-button-inner.sc-ion-action-sheet-md {
    -ms-flex-pack: start;
    justify-content: center;
}

.options {
    --color: var(--ion-primary);
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-icon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.grid ion-col {
    border-radius: var(--Round-4, 12px);
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: flex;
    align-items: flex-start;
    width: 140px;
    height: 80px;
    padding:12px;
    gap: 20%;
    font-size: 16px;
    font-weight: 500;
    background-color: #EEE;
    border: solid 1px #fff;
    color: var(--ion-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x:scroll;
}

.grid ion-col:active {
    background-color: var(--ion-secondary);
    color: white;
}

.grid ion-col:active .icons{
    stroke: white;
}

.grid ion-row {
    display: flex;
    align-content: flex-start;
    gap: 12px var(--Round-4, 12px);
    align-self: stretch;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: white;
    stroke: var(--ion-primary);
}

#add-button {
    --background: var(--ion-background);
    --color: var(--ion-primary);
    --border-radius: var(--Round-4, 12px);
    position: absolute;
    right: 12px;
    bottom: 80px;
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: none;   
    --box-shadow: none;
}

#add-button ion-icon {
    margin-left: 8px;
}

#footer {
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer ion-row {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#footer ion-col {
    display: flex;
    width: 80px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    text-align: center;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--ion-primary);
}

#footer ion-icon {
    color: white;
    stroke: var(--ion-primary);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.actual-page {
    color: #3E3E3E;
    text-align: center;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Alert Component (input, button, title...) */
.alert {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.alert-title.sc-ion-alert-md {
    font-family: Rubik;
    color: var(--ion-primary);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.alert-button-group.sc-ion-alert-md {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.alert-input.sc-ion-alert-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--ion-color-step-150, #d9d9d9);
    color: var(--ion-text-color, #000);
    font-size: 18px;
    text-align: center;
}

.alert-input.sc-ion-alert-md:focus {
    margin-bottom: 4px;
    border-bottom: 2px solid var(--ion-primary);
}

.alert-button-inner.sc-ion-alert-md {
    font-size: 20px;
}

ion-app {
    height: 100%;
}

.list-items {
    background-color: aqua;
}
